* {
    margin: 0px;
    padding: 0px;
}

.container-padre {
    max-width: 1200px;
    height: 400px;
    margin: 0.5em auto;
    padding: 0.5em;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.container1 {
    height: 35%;
    margin: 10px 5px 10px 10px;
    border: 15px solid black;
}

#container1a {
    height: 48%;
    background: #2D4059;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container1aI {
    width: 10%;
    height: 30%;
    background: #EA5455ff;
    margin: 1em;
}

#container1aII {
    width: 80%;
    height: 30%;
    background: #EA5455ff;
    margin: 0.25em;

}

#container1aIII {
    width: 10%;
    height: 30%;
    background: #EA5455ff;
    margin: 1em;

}

#container1b {
    height: 48%;
    background: #F07B3Fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container1bI {
    width: 100%;
    height: 33%;
    background: #FED460ff;
    margin: 1em;
}

.container2 {
    height: 45%;
    margin: 10px 5px 10px 10px;
    border: 15px solid rgb(234, 255, 0);
    display: flex;
    justify-content: space-around;
}

#container2a {
    height: 100%;
    flex-basis: 70%;
    background: #4E4E6Aff;
    border-right: 15px solid rgb(234, 255, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container2aI {
    width: 45%;
    height: 13%;
    background: #1F6CB0ff;
    margin: 20px auto 20px auto;
}

#container2aII {
    width: 45%;
    height: 13%;
    background: #1F6CB0ff;
    margin: 20px auto 20px auto;
}

#container2aIII {
    width: 45%;
    height: 13%;
    background: #1F6CB0ff;
    margin: 0px 0px 0px 0px;
}

#container2aIV {
    width: 45%;
    height: 13%;
    background: #1F6CB0ff;
    margin: 0px 0px 0px 0px;
}

#container2aV {
    width: 95%;
    height: 13%;
    background: #70A3C4ff;
    margin: 20px auto;
    align-self: flex-end;
    align-items: baseline;
}

#container2b {
    height: 100%;
    width: 30%;
    background: #F73F52ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#container2bI {
    width: 90%;
    height: 13%;
    background: #FEEA85ff;
    margin: 20px auto 10px auto;

}

#container2bII {
    width: 90%;
    height: 13%;
    background: #FEEA85ff;
    margin: 0px auto;

}

.container3 {
    height: 5%;
    margin: 10px 5px 10px 10px;
    background: #E6AF2Eff;
    border: 15px solid black;

}

@media (max-width: 600px) {
    .container2 {
        flex-direction: column;

    }

    #container2a {
        width: 100%;

    }

    .container2b {
        width: 100%;
        border: 0px;
    }
}